<div id="wrapper" class="no-padding" data-ng-controller="homeController as vm">

<div class="col-lg-12 margin-bottom-30 no-margin-xs no-margin-sm">

    <section class="bg-grey-100 border-top-1 border-bottom-1 border-grey-200 margin-top-10 margin-bottom-10 no-padding">
        <div class="section-title no-margin-top no-border padding-top-25 padding-left-25 padding-right-25">
            <h3 class="display-inline-block pull-left bg-grey-900 color-white no-border">Latest News</h3>

            <div class="pull-right" data-ng-show="vm.user != null && vm.user.ID != null">
                <div class="btn-group">
                    <a href="/news/add" class="btn btn-default">Add News</a>
                </div>
            </div>
        </div>

        <div class="row padding-left-10 padding-right-10 margin-bottom-25">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-ng-repeat="item in vm.latestNews">
                <div class="thumbnail margin-top-10">
                    <h4 class="padding-left-10 padding-right-10 padding-top-10">
                        <a data-ng-href="/news/{{item.ID}}">{{item.Title | limitTo:40}}{{item.Title.length > 40 ? '...' : ''}}</a>
                    </h4>

                    <div class="section section-default padding-left-10 padding-right-10 no-margin">
                        <p data-ng-bind-html="item.Text" class="height-120">
                        </p>
                    </div>

                    <div class="details padding-left-10 padding-right-10">
                        <i class="ion-android-contact margin-right-5"></i>
                        <a href="#">{{item.OwnerUserName}}</a>
                        <i class="ion-android-calendar margin-left-10"></i> {{item.AddedDate | date: 'mediumDate'}}
                        <a href="#"><i class="ion-chatbubble margin-left-10"></i>{{item.commentsTotal}}</a>
                        <div class="pull-right no-padding">
                            <a data-ng-href="/news/{{item.ID}}" class="btn btn-info btn-inline btn-sm btn-bold color-white">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="row padding-top-15">
<div class="col-lg-9">
    <!-- section -->
    <div class="row">
        <div class="col-lg-12 padding-left-30 padding-right-10 padding-xs-15 padding-sm-15 padding-sm-lg-15 padding-md-lg-15">
            <section class="no-padding-top no-border">
                <h3 class="main-title margin-top-20 margin-bottom-5">Join our great SC2 community!</h3>
                <p class="font-size-14 line-height-20 margin-top-15">
                    sc2bm.com - is a social community created by Starcraft 2 fans for Starcraft 2 fans.<br/>
                    Community build around SC2 Build Maker android tool for crafting and managing SC2 build orders <br/>
                    Join us and become a better Starcraft 2 player!
                </p>
            </section>

            <section class="no-padding-top padding-bottom-30 no-border">
                <div class="padding-bottom-15">
                    <div class="padding-left-20 no-padding-xs no-padding-sm">
                        <div class="title no-border no-margin">
                            <h2 class="headline">Message wall</h2>
                        </div>
                    </div>

                    <comments entity="vm.fakeEntity" type="Home" user="vm.user" count="vm.commentsModel"></comments>
                </div>
            </section>

            <section class="no-padding-top padding-bottom-30 no-border">
                <div class="padding-bottom-15">
                    <div class="padding-left-20 no-padding-xs no-padding-sm">
                        <div class="title no-border no-margin">
                            <h2 class="headline">Latest Builds</h2>

                            <div class="pull-right">
                                <div class="btn-group margin-left-30">
                                    <a href="#" class="btn btn-default no-padding no-margin"
                                       data-ng-click="vm.filterLatestBuilds('Terran')"
                                       data-ng-class="{'active' : vm.faction == 'Terran'}">
                                        <img src="/images/factions/ic_terran_gradiented.png" alt="Terran" class="margin-left-15 margin-right-15 height-35"/>
                                    </a>
                                    <a href="#" class="btn btn-default no-padding no-margin"
                                       data-ng-click="vm.filterLatestBuilds('Zerg')"
                                       data-ng-class="{'active' : vm.faction == 'Zerg'}">
                                        <img src="/images/factions/ic_zerg_gradiented.png" alt="Zerg" class="margin-left-15 margin-right-15 height-35"/>
                                    </a>
                                    <a href="#" class="btn btn-default no-padding no-margin"
                                       data-ng-click="vm.filterLatestBuilds('Protoss')"
                                       data-ng-class="{'active' : vm.faction == 'Protoss'}">
                                        <img src="/images/factions/ic_protoss_gradiented.png" alt="Protoss" class="margin-left-15 margin-right-15 height-35"/>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <section class="section section-white no-border no-padding no-margin" data-ng-show="vm.latestBuilds.length > 0" data-ng-repeat="buildOrder in vm.latestBuilds">
                        <div class="row box no-shadow bg-grey-100 border-grey-300 padding-bottom-15 padding-top-15 margin-bottom-10">
                            <div class="col-lg-3 no-padding-xs no-padding-sm">
                                <div class="thumb thumb-circle">
                                    <span data-ng-class="buildOrder.rateClass">{{buildOrder.rate}}</span>
                                    <img data-ng-src="{{buildOrder.matchupLogo}}" class="img-responsive" style="height: 160px; width: 160px" alt="">
                                </div>
                            </div>

                            <div class="col-lg-9 col-xs-12 padding-left-5 padding-xs-15 padding-sm-15 padding-sm-lg-15">
                                <h3 class="page-header no-margin-top">
                                    <a data-ng-href="/builds/{{buildOrder.ID}}">{{buildOrder.Name}}</a>
                                </h3>
                                <p data-ng-bind-html="buildOrder.Description"></p>
                                <div class="details margin-top-15">
                                    <i class="ion-android-contact margin-right-5"></i>
                                    <a href="#">{{buildOrder.OwnerUserName}}</a>
                                    <i class="ion-android-calendar margin-left-10"></i> {{buildOrder.AddedDate | date: 'medium'}}
                                    <a href="#"><i class="ion-chatbubble margin-left-10"></i>{{buildOrder.commentsTotal}}</a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <ul class="pager no-margin-bottom">
                        <li>
                            <a href="#" data-ng-click="vm.loadMoreBuilds()" data-ng-show="vm.latestBuildsTotal > vm.latestBuilds.length" id="load-more">
                                Show More <i class="ion-more margin-left-5"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <ul class="section-title dark no-margin hidden-xs no-padding-left" data-ng-show="vm.latestVod != null">
                <li>
                    <h3 class="no-margin padding-top-15 padding-bottom-15">Latest Video</h3>
                </li>
                <li class="pull-right">
                    <a href="#" class="btn btn-sm btn-default margin-top-10">
                        <i class="fa fa-film"></i>
                    </a>
                </li>
            </ul>
            <section class="no-border no-padding-top" data-ng-show="vm.latestVod != null && vm.latestVod.SecondaryLinkTrust != null">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{vm.latestVod.SecondaryLinkTrust}}" allowfullscreen></iframe>
                </div>
            </section>

        </div>
    </div>
</div>
<div class="col-lg-3 padding-right-20 padding-left-10 padding-xs-15 padding-sm-15 padding-sm-lg-15 padding-md-lg-15">
    <a data-ng-show="(vm.user == null || vm.user.ID == null)" href="/register" class="btn btn-success btn-block btn-md btn-bold margin-bottom-15 color-white">Register <i class="fa fa-sign-in"></i> SC2BM</a>

    <div data-ng-show="(vm.user == null || vm.user.ID == null)" class="section border-1 border-grey-200 bg-grey-100 no-margin no-padding">
        <div class="title no-border bg-grey-100 color-grey-700 no-margin padding-15">
            <i class="ion-social-facebook"></i> Log In
        </div>
        <div class="padding-bottom-15 padding-left-15 padding-right-15">
            <form name="vm.loginForm" novalidate="novalidate" autocomplete="off">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="required" data-ng-model="vm.userName">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required" data-ng-model="vm.password">

                <div class="margin-top-20">
                    <div class="checkbox pull-left no-padding no-margin-bottom margin-top-5">
                        <input type="checkbox" id="cbRememberMe" data-ng-model="vm.rememberMe">
                        <label for="cbRememberMe">Remember me</label>
                    </div>
                    <button data-ng-click="vm.login(vm.userName, vm.password)"
                            data-ng-disabled="vm.userName == null || vm.password == null"
                            type="button"
                            class="btn btn-success pull-right">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div data-ng-show="vm.user != null && vm.user.ID != null" class="section border-1 border-grey-200 bg-grey-100 no-margin no-padding margin-bottom-10">
        <div class="title no-border bg-grey-100 color-grey-700 no-margin padding-15">
            <i class="ion-social-facebook"></i> Profile
            <div class="pull-right font-size-12 color-grey-600 margin-top-5">
                <a href="#" data-ng-click="vm.logoff()">Log Off</a>
            </div>
        </div>

        <div class="row padding-bottom-15 padding-left-15 padding-right-15">
            <div class="col-md-2 no-padding-right padding-left-5">
                <img src="/images/avatar.jpg" class="img-responsive" alt=""/>
            </div>
            <div class="details col-md-10">
                <h5>
                    <a href="/">{{vm.user.UserName}}</a>
                </h5>
            </div>
        </div>
    </div>

    <!-- section -->
    <div class="section section-default no-margin no-padding margin-bottom-10">
        <div class="title no-border color-white bg-grey-900 no-margin padding-top-10 padding-left-20 padding-right-15 padding-bottom-10">
            Top Rated Builds
            <div class="pull-right font-size-14 margin-top-5">
                <a class="color-white"
                   href="/library" title="Check our build library">Check all</a>
            </div>
        </div>

        <ul class="list-inline tab no-margin-bottom no-margin-left padding-bottom-15 bg-grey-900">
            <li class="active">
                <a href="" data-toggle="tab" data-ng-click="vm.filterTopRatedBuilds('All')">All</a>
            </li>
            <li>
                <a href="" data-toggle="tab" data-ng-click="vm.filterTopRatedBuilds('Terran')">Terran</a>
            </li>
            <li>
                <a href="" data-toggle="tab" data-ng-click="vm.filterTopRatedBuilds('Protoss')">Protoss</a>
            </li>
            <li>
                <a href="" data-toggle="tab" data-ng-click="vm.filterTopRatedBuilds('Zerg')">Zerg</a>
            </li>
        </ul>

        <div class="tab-content no-padding">
            <ul id="all" class="tab-pane active clearfix box no-radius no-shadow bg-grey-800" data-ng-show="vm.topRatedBuilds.length > 0">
                <li data-ng-repeat="buildOrder in vm.topRatedBuilds" class="bg-img border-black">
                    <a data-ng-href="/builds/{{buildOrder.ID}}" title="{{buildOrder.Name}}">
                        <div class="details">
                            <span class="thumb2 pull-right" data-ng-class="buildOrder.rateClass">{{buildOrder.rate}}</span>
                            <h5 class="margin-top-5 margin-bottom-5 color-white font-size-14">
                                {{buildOrder.Race | limitTo: 1}}v{{buildOrder.VsRace | limitTo: 1}} {{buildOrder.Name | limitTo: 45}}{{buildOrder.Name.length > 45 ? "..." : ""}}
                            </h5>
                            <span class="color-white font-size-12">
                                {{buildOrder.SC2VersionName}} | {{buildOrder.AddedDate | date: 'medium'}} by {{buildOrder.OwnerUserName}}
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="clearfix box color-white no-radius no-shadow bg-grey-900 padding-top-15 padding-bottom-15 padding-left-30" data-ng-show="vm.latestBuilds.length == 0">
                Build Library is Empty...
            </div>
        </div>

        <ul class="list-inline tab no-margin-bottom no-margin-left padding-bottom-15 bg-grey-900" data-ng-show="vm.user != null && vm.user.ID != null">
            <li class="active">
                <a href="/builds/upload">Upload New Build</a>
            </li>
        </ul>
    </div>
    <!-- /.section -->
    <!-- section -->
    <div class="section border-1 border-grey-200 no-margin no-padding margin-bottom-10">
        <div class="title no-border bg-white color-grey-700 padding-top-15 padding-left-15 padding-bottom-10">
            <i class="ion-chatbox-working"></i> Latest Comments
        </div>
        <ul class="box no-radius no-shadow bg-grey-100">
            <!-- row -->
            <li class="row bg-white" data-ng-repeat="comment in vm.latestComments">
                <div class="col-md-2 no-padding-right padding-left-5">
                    <img src="/images/avatar.jpg" class="img-responsive" alt=""/>
                </div>
                <div class="details col-md-10">
                    <h5>
                        <a href="#">{{comment.OwnerUserName}}</a>
                    </h5>
                    <p class="margin-top-5 font-size-11 color-grey-600" data-ng-bind-html="comment.Text"></p>
                    <div class="font-size-11 color-grey-600">
                        <i class="ion-android-calendar margin-right-5"></i> {{comment.AddedDate | date: 'medium'}} |
                        <a data-ng-href="{{comment.EntityLink}}">{{comment.EntityType}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div><!-- /.section -->
    <!-- section -->
    <div class="section border-1 border-grey-200" data-ng-show="vm.links != null">
        <div class="title no-border bg-white color-grey-700 no-margin padding-top-15 padding-left-15 padding-bottom-10">
            <i class="ion-pricetag margin-right-10"></i> Latest Links
        </div>
        <div class="list-group" data-ng-show="vm.links != null">
            <a data-ng-href="{{link.MainLink}}" href="#" target="_blank" class="list-group-item" data-ng-repeat="link in vm.links">{{link.Type.toUpperCase()}} | {{link.DisplayText}}</a>
        </div>
    </div><!-- /.section -->
</div>
</div>
</div>